<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928071833947-umve8s8glogc72s9fiduha09js9liq8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928071833947-umve8s8glogc72s9fiduha09js9liq8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCJkStUa1K8J_CXNYXy18VFJcbrdUFOZ84</string>
	<key>GCM_SENDER_ID</key>
	<string>928071833947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyPawsV2</string>
	<key>PROJECT_ID</key>
	<string>happypawsv2</string>
	<key>STORAGE_BUCKET</key>
	<string>happypawsv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928071833947:ios:872231c7d302664637227e</string>
</dict>
</plist>